<h1><%= @user.nickname %>'s Questions</h1>

<% @questions.each do |question| %>
  <div class="mb-sm">
    <%= question.body %>
  </div>

  <div class="text-sm question-footer">
    <div class="text-grey">
      <% if question.created_at.present? %>
        <%= l(question.created_at, format: :short) %>
      <% else %>
        Дата створення відсутня
      <% end %>
    </div>

    <div>
      <%= link_to fa_icon('pencil'), edit_question_path(question),
                  title: 'Змінити питання' %>
      <%= button_to fa_icon('trash-o'), question_path(question),
                    method: :delete, title: 'Видалити питання' %>
    </div>
  </div>
<% end %>
